<!DOCTYPE html>
<html>
{% load latexify %}
<head>
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    {% include "css_loads.html" %}
    <script type="text/javascript" src="/static/js/question.js"></script>
    <script type="text/javascript" src="/static/js/expandinginput.js"></script>
</head>
<body>

{% include "header.html" %}

<div class="container-fluid">
    <div class="modal-dialog" style="width: 100%; zoom: 0.8; max-width: 1024px">
        <div class="modal-content">
            <div class="modal-header" style="flex-flow: row-reverse;">
                <span style="text-align: right">Вопрос {{ question_number }} из {{ questions_total }}, время: <span id="time_left"></span></span>
            </div>
            <form method="post">
            {% csrf_token %}
            <div class="modal-header" style="flex-flow: column">
                <div class="noselect" >
                {% for question_line in question_lines %}
                <div style="padding-left: {{ question_line.padding }}em; font-size: 2em">{% latexify question_line.text parse_math=True %}</div>
                {% endfor %}
                </div>
            </div>
            <div class="modal-body">
                <div class="col-xs-3 col-xs-offset-5">
                    <div id="loadbar" style="display: none;">
                        <div class="blockG" id="rotateG_01"></div>
                        <div class="blockG" id="rotateG_02"></div>
                        <div class="blockG" id="rotateG_03"></div>
                        <div class="blockG" id="rotateG_04"></div>
                        <div class="blockG" id="rotateG_05"></div>
                        <div class="blockG" id="rotateG_06"></div>
                        <div class="blockG" id="rotateG_07"></div>
                        <div class="blockG" id="rotateG_08"></div>
                    </div>
                </div>

                <div class="modal-footer text-muted">
                    <span id="answer">{{ course_name }}</span>
                    <button type="submit">Ответить</button>
                </div>
            </div>
            </form>>
        </div>
    </div>
</div>

{% include "latexify/scripts.html" %}
<script type="text/javascript" src="/static/js/expandinginput.js"></script>

</body>
</html>